%h1 TERMS OF USE
%p
  Welcome to the LETTERLOOSE.COM (“Company”) Web Site. By using this web site, you
  agree to be bound by the following terms and, all applicable laws and regulations (including
  labor, employment, employee benefit, export and re-export control laws), and agree that you
  are responsible for compliance with any applicable local laws. If you do not agree to these
  terms of use, please do not use the sites
%h4 Limited License
%p
  You should assume that everything that you read or see on the Web Site is copyrighted or
  otherwise protected and owned by the Company or some third party who licensed to the
  Company the right to use such material. Unless otherwise expressly noted, nothing that you
  read or see on the Web Site may be copied or used except as provided in these Terms and
  Conditions of Use or with the prior written approval of the Company.
  We grant you permission to print individual pages from the Web Site, unless otherwise
  expressly noted, for your own personal, noncommercial use in learning about, evaluating or
  purchasing the Company’s services or products. No other permission is granted to you to
  print, copy, reproduce, distribute, license, transfer, sale, transmit, upload, download, store,
  display in public, alter or modify these materials. This grant of permission is not a transfer of
  title, and under this permission you may not:
%ul
  %li use the materials for any commercial purpose, or for any public display (commercial or noncommercial);
  %li remove any copyright, or other proprietary notations from the materials;
  %li transfer the materials to another person or &quot;mirror&quot; the materials on any other server.
%p
  We make no warranties or representations to you that your use of any materials displayed on
  the Web Site will not infringe the rights of third parties.
%h4 Restrictions on Use of Materials on the Web Site
%p
  All material on the Web Site, including all files, images, text, software, and data, are the
  property of Company. These materials are licensed to you for your personal, non-commercial
  use. You may download, print, or view these materials on your personal computer, provided
  you do not delete or change any of the information, including copyright and trademark
  notices. Should you purchase any of the materials, your purchase shall allow use of the
  purchased materials solely for the person or business entity for which the materials were
  purchased as shown by the order for the materials, and no other license or permission is
  granted explicitly or by implication. The order may also include additional limitations on your
  use of purchased materials.
%p
  You may not modify, reverse-engineer, disassemble, redistribute, republish, upload, or re-use
  any of the text, graphics, or other materials on the Web Site without Company&#39;s written
  permission.
%h4 Third Party Web Sites
%p
  Company may provide links and pointers to Internet sites maintained by others (&quot;third party
  sites&quot;). Company has not reviewed all of the third party sites linked to the web site and is not
  responsible for the contents of or any products or services offered in such third-party sites.
%h4 Submitted Information
%p
  If you submit any information to us, including any comments, remarks, suggestions, ideas,
  notes, drawings, graphics, concepts, recipes, or other information, you are giving that
  information, and all your rights in it, to Company free of charge, and that information will be
  treated as non-confidential and non-proprietary and may be used by Company for any
  purpose, without your consent or any compensation to you or anyone else. This is true
  whether you submit such information to us by e-mail, through a form on the Web Site, on a
  bulletin board, or in any other manner.
  Please do not submit or transmit any material that is unlawful, threatening, libelous,
  defamatory, obscene, pornographic, profane, or might in any other way violate any law. You
  are solely responsible for any material you submit to us.
  Through your usage of the Web Site, you may submit and/or Company may gather certain
  limited information about you and your web site usage. Company is free to use such
  information for any purpose it deems appropriate, including marketing purposes.
%h4 Disclaimer and Limitation of Liability
%p
  ALL MATERIAL ON THIS WEB SITE IS PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY
  KIND, EITHER EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF
  MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
  COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY,
  COMPLETENESS, OR SUITABILITY OF ANY OF THE MATERIAL ON THIS WEB SITE, OR ON ANY
  SITE OR SITES &quot;LINKED&quot; TO THIS SITE. COMPANY MAKES NO WARRANTY THAT THE WEB
  SITE WILL BE AVAILABLE, UNINTERRUPTED, ERROR FREE, OR FREE OF VIRUSES OR OTHER
  HARMFUL COMPONENTS. COMPANY FURTHER MAKES NO WARRANTY THAT YOU WILL
  ACHIEVE SUCCESSFUL RESULTS FROM FOLLOWING ANY INSTRUCTIONS, DIRECTIONS, OR
  RECIPES ON THE WEB SITE.
  IN ANY CASE, COMPANY&#39;S LIABILITY TO YOU FOR ALL LOSSES, DAMAGES, INJURIES, AND
  CLAIMS OF EVERY KIND (WHETHER IN CONTRACT, NEGLIGENCE, TORT, OR OTHERWISE)
  WILL NOT BE GREATER THAN THE AMOUNT YOU PAID TO ACCESS THE WEB SITE.

%h4 United States and Canada Only
%p
  All materials on this Site are provided solely for the purpose of promoting Company&#39;s
  operations and products in the United States and Canada, and their territories, possessions
  and protectorates. Company makes no representation that the materials on the site are
  appropriate or available for use in other locations. If despite these conditions, you use the
  Web Site from outside the United States and Canada, you are solely responsible for
  compliance with any applicable local laws.
%h4 Trademarks, Trade Names, and Service Marks
%p
  Unless otherwise indicated, all logos, names, package designs, and marks on the Site are
  trademarks or service marks owned or used under license by Company. The use or misuse of
  any of these marks or other information is strictly prohibited.
%h4 Modification and Termination of This Agreement
%p  
  Company may modify these terms and conditions at any time without notice to you.
  Company may terminate this agreement at any time, without notice to you, if it believes, in its
  sole judgment, that you have breached or may breach any term or condition of this agreement
  or it may terminate this agreement for its convenience.
  You may terminate this agreement at any time by destroying all materials received from the
  Company site and ceasing to use the Web Site.
