=link_to "< Back to #{@title.name}", title_path(@title)

%div{id: dom_id(@tweak)}
  = render partial: 'show', locals: {tweak: @tweak}

- if @create
  //we just came from the create action, we should do the sound
  :javascript
    var create_sound = new Audio('/sounds/description_create.mp3');
    create_sound.play();
