%strong
  %p
    Thanks! We've updated your email preferences, and you'll no longer receive this email.

%p You can always update your email preferences in the "My Account section under your username"

= link_to root_url, class: 'btn btn-primary btn-lg' do
  Back To LetterLoose
