- count = @likes.count
- return nil if count.zero?

= link_to likes_path do
  %span.glyphicon.glyphicon-book.text-letter-loose
  %span.text-letter-loose
    = pluralize(count, 'Upvote')
    %span.caret
