<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }

      .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #ddd;;
        z-index: 10;
        position: relative;
        border-radius: 4px ;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      }

      .panel-body {
        padding: 15px;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
